In [2]:
##### Pandas datastructures
## Series
# Creating series
# Accessing data in series
# Adding data in a series
# Deleting data from a series
# changing the dtypes in a series

In [3]:
l1=range(11)
print (list(l1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Add one to each element
l1+1

TypeError: unsupported operand type(s) for +: 'range' and 'int'

In [5]:
#Write a loop
l2=[]
for l in l1:
    l2.append(l+1)
print (l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
# List comprehension
[x+1 for x in l1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
#Map
result = map(lambda x:x+1,l1)
print(list(result))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [12]:
#Creating a Series object
#General syntax is:
#s= Series(data,indexindex)
#data.Dictionary,array,scalar

In [13]:
#Series from an array/List
S=Series([1,2,3,4,5])
S
print(S[0])
print(S[2])
print(S.values)
print(S.index)
print(list(S.index))

1
3
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]

In [14]:
S=Series([1,2,3,4,5],index=['a','b','c','d','e'])
S
S[0]
S['a']
print(S.values)
S.index
print(S)

[1 2 3 4 5]
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
S=Series([1,2,3,4,5],index=['a','b','c','d','e'])
S
print(S[0])
S['a']
S.index

1

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
#Adding one element to the series
S['g']=7

#Adding more than one element to the series
#Use the append method to append a sub series to the bigger series

In [19]:
s=Series([8,9,10],index=['h','i','j'])
S=S.append(s)
S

a     1
b     2
c     3
d     4
e     5
g     7
h     8
i     9
j    10
h     8
i     9
j    10
dtype: int64

#Adding more than one element to the series
#Use the append method to append a sub seriesto the bigger series

In [5]:
#Deleting elements from a series
#S=S.drop('g')

In [1]:
#More than one elementfrom a series
#S=S.drop(['i','j'])
#S

In [30]:
#Series from a dictionary
d={'a':3,'b':4}
S1=Series(d)
S1

a    3
b    4
dtype: int64

In [32]:
#We can make changes to a series in place also
S1['a']=4
S1

a    4
b    4
dtype: int64

In [34]:
#Series support vectorization
S+1

a    2
b    3
c    4
d    5
e    6
h    9
h    9
dtype: int64

In [36]:
S*2

a     2
b     4
c     6
d     8
e    10
h    16
h    16
dtype: int64

In [38]:
S**2

a     1
b     4
c     9
d    16
e    25
h    64
h    64
dtype: int64

In [40]:
np.log(S)

a    0.000000
b    0.693147
c    1.098612
d    1.386294
e    1.609438
h    2.079442
h    2.079442
dtype: float64

In [2]:
#More than one element from a series
#S=S.drop(['i','j'])
#S

In [44]:
S+S1

a    5.0
b    6.0
c    NaN
d    NaN
e    NaN
h    NaN
h    NaN
dtype: float64

In [4]:
#SC=SC.astype('float64')
#SC.dtype

In [3]:
##Corner case
#s=Series(['1',2,3,4,np.nan,np.nan])
#s=s.astype('int64')

In [52]:
s=s.astype('float64')

In [53]:
type(s)

pandas.core.series.Series